:root {
    --deleteColor: rgb(121, 15, 15);
    --titleColor: rgb(12, 12, 100);
    --textColor: rgba(0, 0, 0, 0.7);
}

.button {
    color: white;
    outline: none;
    border: none;
    padding: 8px;
    border-radius: 0px;
}

/* bin */
.remove {
    background-color: var(--deleteColor);
}

/* load more button */
.load {
    background-color: rgb(43, 150, 226);
}