:root {
    --dateColor: rgb(12, 12, 100);
}

.date-main {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.react-datepicker__input-container input {
    padding: 5px 5px 5px 25px;
    color: var(--dateColor);
    border: 1px solid var(--dateColor);
    outline: none;
    height: 20px;
}

.calicon {
    margin-top: -1px;
    color: var(--dateColor);

}

.calendar {
    margin-left: 80px;

}

.react-datepicker__input-container input::placeholder {
    color: var(--dateColor);
}

.react-datepicker__year-dropdown .react-datepicker__year-option:first-child::before {
    content: "\25B2";
    position: absolute;
    top: 5%;
    left: 45%;
    margin: auto;
}


.redBack {
    color: red;
}


@media screen and (max-width:710px) {
    .date-main {
        flex-direction: column;
    }


}