:root {
    --titleColor: rgb(12, 12, 100);
    --sort: rgb(43, 150, 226);
    --select: rgba(12, 12, 100, 0.37);
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: var(--sort);
    color: white;
    padding: 10px;
    border-radius: 0px;
    box-sizing: border-box;
    border: none;
    display: flex;
    align-items: center;
    font-size: 15px;
}


ul li:first-child {
    position: relative;

}

ul li:first-child span {
    position: absolute;
    right: 5px;
}


.dropdown {
    margin-top: 20px;

}

.menu {
    position: absolute;
    display: flex;
    top: 75px;
    flex-direction: column;
    color: white;
    width: 95px;
    max-width: 95px;

    background-color: var(--sort);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.menu>div {
    padding: 10px;
}



.menu>div:hover {
    cursor: pointer;
    background-color: var(--select);
}

.select {
    background-color: var(--select)
}

.menu>div:last-child:hover {
    border-radius: 0 0 5px 5px;
}

.menu>div:first-child:hover {
    border-radius: 5px 5px 0 0;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2vh;
}



ul li {
    min-width: 150px;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(226, 237, 233);
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

ul li:nth-child(n+2):hover {
    background-color: var(--titleColor);
    color: rgb(255, 255, 255)
}

ul li:last-child {
    border-radius: 0 0 5px 5px;
}


@media screen and (max-width:340px) {
    button {
        width: 100px;
    }

    .menu {
        width: 100px;
        max-width: 100px;

    }

}

@media screen and (max-width:710px) {
    .menu {
        top: 130px;
    }
}