:root {
    --titleColor: rgb(12, 12, 100);
    --sort: rgb(43, 150, 226);
    --select: rgba(12, 12, 100, 0.37);
}


/* Container of the entire Sort section */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* The Sort by button */
button {
    background-color: var(--sort);
    color: white;
    padding: 10px;
    border-radius: 0px;
    box-sizing: border-box;
    border: none;
    display: flex;
    align-items: center;
    font-size: 15px;
}


/* Style for the Sort by button */
.dropdown {
    margin-top: 20px;

}

/* Container for the criteria div group */
.menu {
    position: absolute;
    display: flex;
    top: 75px;
    flex-direction: column;
    color: white;
    width: 95px;
    max-width: 95px;
    background-color: var(--sort);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/* Direct childs of menu container */
.menu>div {
    padding: 10px;
}

.menu>div:hover {
    cursor: pointer;
    background-color: var(--select);
}

.menu>div:last-child:hover {
    border-radius: 0 0 5px 5px;
}

.menu>div:first-child:hover {
    border-radius: 5px 5px 0 0;
}

/* Criteria select style */
.select {
    background-color: var(--select)
}



@media screen and (max-width:340px) {
    button {
        width: 100px;
    }

    .menu {
        width: 100px;
        max-width: 100px;

    }

}

@media screen and (max-width:710px) {
    .menu {
        top: 130px;
    }
}